<nav id="navbar">
    <div id="search-row" class="navbar-row">
        <a routerLink=""><img id="ama-romach-img" src="../../assets/images/white_logo.png" /></a>
        <div class="ui fluid action input">
            <input type="text" placeholder="Search...">
            <button class="ui primary icon button">
                <i class="search icon"></i>
            </button>
        </div>
    </div>
    <div class="navbar-row">
        <div class="ui floating simple dropdown navbar-buttons">
            Account&Lists
            <i class="dropdown icon"></i>
            <div id="account-list" class="menu">
                <div class='ui two column divided aligned grid '>
                    <div class='column'>
                        <h3 class='ui header'>Your Account</h3>
                        <div class='ui link list '>
                            <a class='item'>SIGN IN</a>
                            <a class='item'>SIGN UP</a>
                        </div>
                    </div>
                    <div class='column'>
                        <h3 class='ui header'>Your Lists</h3>
                        <div class='ui link list'>
                            <a class='item'>create new Lists</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cart" class="navbar-buttons">
            <label id="items-num">({{numberOfItemsInCart}})</label>
            <div routerLink="/cart"><i class="large shopping cart icon"></i>cart</div>
        </div>

    </div>
</nav>