.card {
  margin-right: 1em;
  margin-bottom: 1em !important;
}
.card:hover .image {
  opacity: 0.5;
}
.card .content .header:hover {
  color: #ffa500 !important;
  text-decoration: underline !important;
}
